<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
      <section class="entry_form">
        <strong id="entryform">
          <%= render "shared/entry_form" %>
        </strong>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Entry Wall</h3>
      <strong id="aaa">
        <%= render "shared/feed" %>
      </strong>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="col-md-8">
      <h3>Entry Wall</h3>
          <%= render "shared/feed" %>
    </div>
  </div>

<% end %>
